/*
 * カラースキーマ
 * メイン: #D1E8FF
 * サブ1 : #FF80BF
 * サブ2 : #FFD1D1
 */

/*
 * サイト全体
 */
body {
    background-color: white;
    color: #333;
    margin: 0px;
    padding: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#site_header {
    padding-left: 1em;
    padding-right: 1em;
}

#site_header a {
    margin-left: 0.25em;
    margin-right: 0.25em;
    text-decoration: none;
}

span.notice {
    color: #FF80BF;
}

span.error {
    color: red;
    font-weight: bold;
}

#contents {
    padding: 1em;
}

#site_footer {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-top: solid 1px #FFD1D1;
    color: #FF80BF;
    text-align: right;
}

td.left_align {
    text-align: left;
}

td.right_align {
    text-align: right;
}

td.center_align {
    text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

a img {
    border-style:none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

